#### MODULES ####

# The imjournal module bellow is now used as a message source instead of imuxsock.
$ModLoad imuxsock # provides support for local system logging (e.g. via logger command)
$ModLoad imjournal # provides access to the systemd journal
#$ModLoad imklog # reads kernel messages (the same are read from journald)
#$ModLoad immark  # provides --MARK-- message capability

# Provides UDP syslog reception
#$ModLoad imudp
#$UDPServerRun 514

# Provides TCP syslog reception
#$ModLoad imtcp
#$InputTCPServerRun 514

#### GLOBAL DIRECTIVES ####

# Where to place auxiliary files
$WorkDirectory /var/lib/rsyslog

# Use default timestamp format
$ActionFileDefaultTemplate RSYSLOG_SyslogProtocol23Format
$ActionForwardDefaultTemplate RSYSLOG_SyslogProtocol23Format

# File syncing capability is disabled by default. This feature is usually not required,
# not useful and an extreme performance hit
#$ActionFileEnableSync on

# Include all config files in /etc/rsyslog.d/
$IncludeConfig /etc/rsyslog.d/*.conf

# Turn off message reception via local log socket;
# local messages are retrieved through imjournal now.
$OmitLocalLogging on

# File to store the position in the journal
$IMJournalStateFile imjournal.state

$FileCreateMode 0640
$PreserveFQDN on

#### RULES ####

*.info;mail.none;authpriv.none;cron.none                /var/log/messages
authpriv.*                                              /var/log/secure
mail.*                                                  -/var/log/maillog
cron.*                                                  /var/log/cron
*.emerg                                                 :omusrmsg:*
uucp,news.crit                                          /var/log/spooler
local7.*                                                /var/log/boot.log
{% if (rsyslog_extra_rules is defined) and rsyslog_extra_rules %}
{% for rer in rsyslog_extra_rules %}
{{ rer }}
{% endfor %}
{% endif %}

# ### begin forwarding rule ###
{% if (rsyslog_forward is defined) and rsyslog_forward %}
{% for rf in rsyslog_forward %}
{{ rf.logs }} {% if rf.protocol == "udp" %}@@{% else %}@{% endif %}{{ rf.ip }}:{{ rf.port }}
{% endfor %}
{% endif %}
